.hero-section {
  min-height: calc(100vh - 2rem);
}

.titles-container {
  display: flex;
  flex-direction: column;
  height: 1.2em;
  overflow: hidden;
  position: relative;
}

.title {
  position: absolute;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.5s ease;
}

.title.current {
  transform: translateY(0);
  opacity: 1;
}